{% extends 'theboard/main.html' %}

{% load i18n %}

{% block head_title %}{% trans "Подтвердите Ваш e-mail адрес" %}{% endblock %}

{% block content %}
    <h1>{% trans "Подтвердите Ваш e-mail адрес" %}</h1>

    <p>{% blocktrans %}Мы отправили Вам e-mail с кодом подтверждения. Пройдите по ссылке, сожержащейся в письме. Если Вы не увидели письмо с подтверждением, проверьте папку "Спам". Пожалуйста, свяжитесь с нами, если Вы не получили письмо с подтверждением в течении нескольких минут.{% endblocktrans %}</p>

{% endblock %}