{% extends 'theboard/main.html' %}

{% block title %}Комментарий к публикации!{% endblock %}

{% block content%}

{% if user.is_authenticated %}
    <h1>Добавить комментарий</h1>
    </br></br>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}            
            {{ form.as_p }}
            <button class="btn btn-secondary">Добавить комментарий</button>
            </br></br></br></br>
    </div>

{% else %}

    Пожалйста, авторизуйтесь для того, чтобы оставлять комментарии!

{% endif %}

{% endblock %}
