{% extends 'theboard/main.html' %}

{% block title %}Редактировать публикацию!{% endblock %}

{% block content%}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1>Редактировать публикацию</h1>
        </br></br>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-secondary">Редактировать</button>
                </br></br></br></br>
        </div>
    {% else %}

    Доступ к данным закрыт!

    {% endif %}
        
{% else %}

Доступ к данным закрыт!

{% endif %}

{% endblock %}
