<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Еженедельный отчет</title>
</head>
<body>
    <h3>Привет!</h3>
    <h3>Еженедельный отчет с MMORPG Board.</h3>
    <hr>
    <br>    
    {% if digest %}
    <h3>Новые публикации:</h3>
    <br/>
        <table>
        {% for post in digest %}
            <tr>
                <td>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }} </a>
                </td>
                <td>
                    {{ post.body|truncatechars:50|safe }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>За неделю не было новых публикаций.</h2>
    {% endif %}
<br>
<hr>
<br>
<br>
<p><h4>Увидимся на <a href="http://127.0.0.1:8000/">MMORPG Board</a> и приятного дня!</h4></p>
<br>
<br>
</body>
</html>
