{% extends 'theboard/main.html' %}
{% load static %}

{% block title %}Изменить страницу профиля{% endblock %}

{% block content%}

{% if user.is_authenticated %}
    {% if user.id == userprofile.user.id %}
        <h1>Изменить страницу профиля</h1>
        </br></br>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                </br>
                <button class="btn btn-secondary">Изменить страницу профиля</button>
                </br></br></br>
        </div>
    {% else %}
        Доступ к данным закрыт!

    {% endif %}

{% else %}

    Доступ к данным закрыт!

{% endif %}

{% endblock %}
